<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OOPS Test Suite">


	<test name="OOPS Test Cases">
		<classes>
			<class name="com.Tests.LoginTestClass"></class>
			<parameter name="browser" value="chrome"/>
		
		</classes>
	</test>
</suite>